@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header {
  background-color: $grey;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}


.header__top-info {
  display: flex;
}

.header__top-seller {
  margin-right: 50px;
  background-color: $blue;
  color: #fff;
  width: 140px;
  padding: 12px 1px 11px;
  text-align: center;
  border-radius: 22px;
  align-items: center;
  font-size: 14px;
  @include f400;
}

.header__top-personal {
  margin-left: 29px;
  display: flex;
  vertical-align: center;
}

.personal-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.personal-logged-in {
  cursor: pointer;
}

.personal-name,
.personal-money {
  display: block;
  line-height: 22px;
}

.personal-money {
  color: $blue;
}

.header__bottom {
  background-color: #fff;

  &-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-form {
    width: 360px;
    position: relative;

    input {
      display: block;
      width: 100%;
      height: 46px;
      padding-left: 25px;
      padding-right: 15px;
      border-radius: 22px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      @include f400;
      line-height: 30px;

      &::placeholder {
        color: #898f96;
      }
    }

    button {
      position: absolute;
      border: none;
      right: 0px;
      top: 0px;
      border-radius: 24px;
      background-color: #0674ec;
      padding: 13px 26px;
      cursor: pointer;

    }
  }

}

.menu__list {
  li {
    display: inline-block;
    @include f500;

    &+li {
      margin-left: 25px;
    }
  }

  a {
    text-transform: uppercase;
    line-height: 42px;
    font-size: 15px;

  }
}

//end header


//start products
.product {
  background-color: #2649cd;
  min-height: 725px;
  position: relative;


  &__title {
    padding-top: 185px;
    margin-bottom: 30px;
    margin-top: 0;
    color: #f3f3f8;
    font-size: 60px;
    line-height: 70px;
    @include f700;
    text-align: center;

    span {
      @include f400;
      display: block;
    }
  }

  &__text {
    text-align: center;
    color: #fff;
    font-size: 20px;
    @include f500;
    margin-bottom: 63px;
  }

}

.product__inner {
  text-align: center;
  display: flex;
  justify-content: center;
}


.product__link {
  padding: 20px 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  transition: all .3s;

  &:hover {
    color: $blue;
    background-color: #fff;
  }
}

.search-form__inner {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -65px;
  left: 430px;
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  height: 135px;
  align-items: center;
  z-index: 10;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}


.search-form__form::after,
.search-form__form::before {
  content: "";
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: -15px;
  left: 12px;
  height: 100px;
  width: 98%;
  border-radius: 6px;
  z-index: 1;
}

.search-form__form::before {
  top: -28px;
  left: 30px;
  height: 99px;
  width: 95%;
}

.search-form__box {
  display: flex;
  position: relative;
  z-index: 3;


  input {
    width: 615px;
    padding: 25px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height: 30px;
  }
}


.search-form__btn {
  color: #fff;
  background-color: $blue;
  border: none;
  padding: 15px 63px 15px;
  border-radius: 4px;
  @include f400;
  height: 55px;
  z-index: 3;

}

.search-form__select {
  max-width: 195px;
  width: 100%;
  padding: 0 15px 0 20px;
  background-image: url(../images/icons/chevron-down.png);
  background-repeat: no-repeat;
  background-position: right 20px top 50%, 0 0;
  appearance: none;
  height: 100%;
  text-align: center;
  border-radius: 0px 6px 6px 0px;
  border-left: none;
  position: absolute;
  right: 0;
  border: 1px solid #dcdcdc;
  font-size: 16px;
  display: block;
}

//end products


// start advantages


.advantages__inner {
  display: flex;
  justify-content: space-between;
  min-height: 710px;
  align-items: center;
}

.advantages__items {
  max-width: 360px;
  height: 400px;
  padding: 40px 15px 50px;
  text-align: center;
  transition: all .3s;

  &:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}


.advantages__items-title {
  font-size: 24px;
  margin: 20px 0 25px;
  @include f400;
}

.advantages__items-text {
  font-size: 16px;
  color: #555555;
  line-height: 30px;
  @include f400;

}



// end advantages


// weekly-products start

.weekly-products {
  background-color: $grey;
  padding: 120px 0;
}

.title {
  font-size: 30px;
  line-height: 28px;
  color: #000;
  padding: 40px 19px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 1140px;
  width: 100%;
}


.weekly-products__title {
  margin-bottom: 48px;
  position: relative;

  .lnr-chevron-left {
    font-family: 'Linearicons-Free';
    right: 90px;
    padding-left: 25px;
    padding-right: 40px;
  }

  .lnr-chevron-right {
    font-family: 'Linearicons-Free';
    right: 50px;
    padding-right: 25px;
    padding-left: 40px;
  }

  .slick-btn {
    position: absolute;
    border: none;
    background-color: #7347c1;
    height: 45px;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    outline: transparent;
    cursor: pointer;
    top: 32px;
  }

  // .slick-prev {
  //   position: absolute;
  //   right: 50px;
  //   width: 55px;
  //   padding-right: 10px;
  //   margin-right: 50px;
  // }

  // .slick-next {
  //   padding-left: 10px;
  //   width: 55px;
  // }


}



.weekly-products__slider-image {
  position: relative;

  img {
    max-width: 555px;
    height: 100%;
    object-fit: cover;

  }

  &:hover {
    background: -webkit-linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    opacity: 0.902;

    .weekly-products__slider-image--hover {
      display: block;
    }
  }
}

.weekly-products__slider-image--hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 25px;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}



.weekly-products__slider-image--hover {
  display: none;
}

.weekly-products__slider-inner {
  display: flex;
  color: #000;
  min-height: 450px;
}

.weekly-products__slider-about {
  padding: 50px 50px 25px;
  background-color: #fff;
  max-width: 585px;
  width: 100%;

}

.weekly-products__slider-title {
  font-size: 24px;
  @include f500;
  margin-bottom: 15px;
}

.weekly-products__slider-madeby {
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 9px;

  }

  .madeby__author {
    margin-right: 20px;
    font-size: 15px;
    line-height: 30px;

  }

  .weekly-products__slider-theme {
    color: #7347c1;
    position: relative;
    padding-left: 25px;

    &::before {
      content: "\f19a";
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      font-size: 15px;
    }
  }

}

.weekly-products__slider-text {
  color: #555555;
  margin-bottom: 42px;
}

.weekly-products__slider-type {
  margin-bottom: 45px;
}

.weekly-products__slider-links {
  font-size: 15px;
  color: #868c96;
  background-color: #f1f3f6;
  padding: 5px 16px;
  border-radius: 12px;
  text-align: center;
}

.weekly-products__slider-bottom {
  border-top: 1px solid #ececec;
  position: relative;
}

.jq-ry-container {
  top: 33px;
  position: absolute;
  right: 0;
}

.weekly-products__slider-info {
  display: flex;
  margin-top: 23px;
  align-items: center;

  div+div {
    margin-left: 20px;
  }
}

.weekly-products__slider-price {
  background-color: $blue;
  color: #fff;
  max-width: 100px;
  width: 100%;
  text-align: center;
  padding: 9px 0;
  border-radius: 19px;
  @include f500;
  font-size: 15px;

}

.weekly-products__slider-likes {
  padding-left: 27px;
  color: #555555;
  position: relative;
  ;

  &::before {
    content: "\e813";
    font-family: 'Linearicons-Free';
    color: #7347c1;
    position: absolute;
    left: 0;
    font-size: 15px;
  }
}

.weekly-products__slider-sold {
  color: $blue;
  padding-left: 23px;
  position: relative;

  &::before {
    content: "\e82e";
    font-family: 'Linearicons-Free';
    left: 0;
    position: absolute;
    font-size: 15px;
  }
}

// weekly-products end


// newes-products start
.newest-products {
  background-color: #f6f7fb;
  padding-top: 120px;
  padding-bottom: 100px;
}

.newest-products__filter-img {
  max-width: 360px;
  width: 100%;
  min-height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.newest-products-title {
  margin-bottom: 30px;
}

.newest-products__filter-btns {
  background-color: #fff;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);


  button {
    border: none;
    background-color: #f1f3f6;
    padding: 10px 15px 10px 20px;
    border-radius: 20px;
    outline: transparent;

    &.active {
      background-color: $blue;
      color: #fff;
    }


    &+button {
      margin-left: 10px;
    }
  }
}



.newest-products__filter-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.newest-products__filter-item {
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.newest-products__filter-title {
  font-size: 20px;
  @include f500;
  color: #000;
  margin-bottom: 20px;
}

.newest-products__filter-type {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  .type__plugin {
    color: #7347c1;
    padding-left: 25px;
    display: block;
    position: relative;

    &::before {
      content: "\f19a";
      font-family: "icomoon";
      position: absolute;
      left: 0;
    }
  }

}

.newest-products__filter-text {
  font-size: 16px;
  color: #555;
  line-height: 30px;
  margin-bottom: 30px;
}

.newest-products__filter-author {
  margin-right: 20px;
  align-items: center;
  display: flex;

  .author__image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 7px;
  }

  .author__name {
    font-size: 15px;
    color: #000;
  }
}

.newest-products__filter-wrapper {
  padding-left: 27px;
  padding-right: 40px;
}

.newest-products__filter-bottom {
  border-top: 1px solid #ececec;
  padding-left: 27px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.filter-bottom__inner {
  display: flex;
  align-items: center;
}

.item__price {
  margin-right: 13px;
  background-color: #e6f1fd;
  color: $blue;
  padding: 8px 17px;
  border-radius: 20px;
  @include f500;
}

.item__likes {
  padding-left: 22px;
  position: relative;
  color: #6f7d8d;

  &::before {
    content: "\e813";
    font-family: 'Linearicons-Free';
    position: absolute;
    left: 0;
    color: #7f4ec2;
    font-size: 15px;

  }
}

.filter-bottom__sales {
  color: $blue;
  position: relative;
  padding-left: 25px;

  &::before {
    content: "\e82e";
    font-family: 'Linearicons-Free';
    position: absolute;
    left: 0;
    color: $blue;
    font-size: 15px;
    top: -1px;
  }
}

.newest-products__btn-all {
  margin: 0 auto;
  display: block;
  background-color: $blue;
  color: #fff;
  padding: 20px 20px;
  width: 190px;
  border-radius: 29px;
  text-align: center;
}



// newes-products end